@import '../../css/baseless.less';
:global(.chomePageContaier) {
	min-width: 100% !important;
}

.topbar{
    display: flex;
    height: 100%;  
}
.countbox,.countInner{
    display: flex;
    color: @baseColor;
}
.countStrong *{
    font-size: 60px;
    font-weight: 700;
}

.countStrong0 *{
    font-size: 40px;
    font-weight: 700;
}
