<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <META    HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META    HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
  <META    HTTP-EQUIV="Expires" CONTENT="0">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="logo.ico">
  <title>咔嚓拍 AI引领精准教学</title>
  <!-- <link rel="stylesheet" href="index.css" /> -->
  <link rel="stylesheet" href="https://static.afanti100.com/search/static/dist/app/style/search_result/search_result-8a4c6f3db4.min.css?v=0610" />
  <link rel="stylesheet" href="https://static.afanti100.com/search/static/dist/app/style/search_result/search_result_64-6e4e3bf75e.min.css?v=0327" />

  
</head>
<body >
 
    <style>
        #root{
          min-width: 600px;
        }
        body{
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
       </style>
  <div id="root" ></div>
  <!-- <script src="index.js"></script> -->
</body>
</html>
