.normal{
    background:url('../images/el-bs-n@3x.png');
    width:100%;
    position: absolute;
    top:0;
    bottom:0;
    background-size: cover;
}
.loginInner{
    position: absolute;
    width:564px;
    height:534px;
    right:10%;
    top:0px;
    bottom:0;
    margin:auto;
    border-radius: 10px;
    border:1px solid #ccc;
    padding:60px;
    text-align: center;
    background:#fff;
    
}
.loginInner h2{
    color:#879fb3;
}
:global(.log){
    /* height:156px; */
    width:386px;
    /* border:1px solid #ccc; */
    margin:30px auto;
    overflow: hidden;
}
.forgotPassword{
    float:right;
    cursor: pointer;
}
.forgotPassword:hover{
    color:rgb(0, 177, 255);
}
.loginName,.loginPass{
    width:100%;
    height:78px;
    border: 1px solid #ccc;
    text-align: left;
}
.loginName{
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.loginPass{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nameLogo{
    display: inline-block;
    height: 22px;
    width:22px;
    background:url('../images/dl-sj-n@3x.png') no-repeat;
    background-size: cover;
    margin:28px;
}
.passLogo{
    display: inline-block;
    height: 22px;
    width:22px;
    background:url('../images/dl-mm-n@3x.png') no-repeat;
    background-size: cover;
    margin:28px;
}
.inputLeft{
    margin:18px 0;
    width:1px;
    height:42px;
    border-left: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
}
.inputOut{
    height:42px;
    display: inline-block;
    vertical-align: top;
    margin:10px 30px;
}
input{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
:global(.log .ant-input):focus{
    border-color:none!important;
    outline: none!important;
    box-shadow:none!important;
    -webkit-box-shadow:none!important;
    border:none!important;
}
.login{
  width: 386px;
  height: 45px;
  border-radius: 3px;
  background-color: #00b1ff;
  margin:30px auto;
  color:#fff;
  line-height: 45px;
  font-size: 18px;
  cursor: pointer;
}

.chooseType{
    font-size: 18px;
    color:#b6c6d4;
    border-bottom: 1px solid #b6c6d4;
    width:386px;
    height:44px;
    margin:0 auto;
}
.chooseType span{
    padding:0 18px;
    padding:15px;
    cursor:pointer;
}
.chooseType .tolog{
    color:#00b1fe;
    border-bottom: 4px solid #00b1fe;
}
.iframe {
    border:none;
    /* height:260px; */
    height:400px;
    margin-top: -47px;
}
.iframe :global(.title){
    display: none;
}