.gradeboder{
    padding: 24px;
    background: #fff;
    
    .gradeTop{
        overflow: hidden;
        margin-bottom: 10px;

        .addGrade{
            color: #fff;
            background-color: #1890ff;
            border-color: #1890ff;
            line-height: 32px;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 0 15px;
            font-size: 14px;
            border-radius: 4px;
            height: 32px;
        }
    }
    .ptitle{
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        color: #fff;
        background: #1bb6fb;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .scoreDetTable{
        :global(.operateLink){
            color:#1bb6fb;
            cursor: pointer;
        }
    }
    
}
:global(.ant-menu-horizontal){
    border-bottom: none;
}