
.userBorder{
    width:567px;
    padding:30px;
    margin:0 auto;
    margin-top: 77px;
    border:1px solid #ebeef5;
    border-radius: 5px;
    
    .userNews{
        text-align: center;

        .userImg{
            width:104px;
            height:104px;
            margin:0 auto;
            border-radius: 100%;
        }
    }
    .newsBorder{
        border:1px solid #ebeef5;
        width:100%;
        padding:20px;
        background:#ebeef5;
    }
}